/* Cards */
@import 'variables';
.card {
  border: 0;
  background: #f2edf3;
  padding: 2%;
  width: 100%;
  height: 100%;

  .card-body {
    padding: $card-padding-y $card-padding-x;
    background: #fff;
    height: 100%;
    width: 100%;
    + .card-body {
      padding: 1rem;

    }
  }
  .card-title {
    color: $violet;
    margin-bottom: .75rem;
    text-transform: capitalize;
    font-family: $type1-medium;
    font-size: 1.125rem;
  }
  .card-content p {
    color: gray;
    font-size: 0.85rem;
    font-family: Tahoma, Helvetica, Arial, sans-serif;;
  }
  .card-subtitle {
    font-family: $type1-regular;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;

  }
  .card-description {
    margin-bottom: 1.5rem;
    font-family: $type1-regular;
    color: $card-description-color;
  }
  &.card-outline-success {
		border: 1px solid theme-color("success");
	}
	&.card-outline-primary {
		border: 1px solid theme-color("primary");
	}
	&.card-outline-warning {
		border: 1px solid theme-color("warning");
	}
	&.card-outline-danger {
		border: 1px solid theme-color("danger");
	}
	&.card-rounded {
		 border-radius: 5px ;
	}

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.card-circle-progress {
    color: $white;
    text-align: center;
  }
  &.card-img-holder {
    position: relative;
    .card-img-absolute {
      position: absolute;
      top:0;
      right: 0;
      height: 100%;
    }
  }
}


