<pb-hero></pb-hero>
<!-- This is an A11y Change : added role for element-->
<main role="main" id ="main" class="container center" itemscope itemtype="https://schema.org/SoftwareApplication">
  <div class="page-area flow-size">
    <div class="row">
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title"> All in one Budget Tracking</h4>
            <div class="card-content">
              <i class="material-icons">account_balance</i>
              <p>Enter all your spending to one place, from balances and bills to credit score and more.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title">Budget Made Simple</h4>
            <div class="card-content">
              <i class="material-icons">sentiment_satisfied_alt</i>
              <p>Easily create budgets, and see our visualizations based on
                your spending.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title">Manage spending goals</h4>
            <div class="card-content">
              <i class="material-icons">account_balance_wallet</i>
              <p> centralize all your monthly expenses so you can learn, manage, and improve your budget.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title"> Visualize your Expenses</h4>
            <div class="card-content">
              <i class="material-icons">analytics</i>
              <p>Create budgets you actually spent, analyze how  you’re spending your money.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title">Enter on the go</h4>
            <div class="card-content">
              <i class="material-icons">check</i>
              <p>Easily create budgets from wherever you are. It is that simple!</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title">Find your spending trends</h4>
            <div class="card-content">
              <i class="material-icons">track_changes</i>
              <p>Get personalized  trend  analysis for your expense and savings
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

