
.card {
  border: 0;
  background: #f2edf3;
  height:100%;
  .card-body {
    padding: 2.5rem 2.5rem;
    height:100%;
    + .card-body {
      padding: 1rem;

    }
  }
  .card-title {
    color: #663399;
    margin-bottom: .75rem;
    text-transform: capitalize;
    font-family: 'ubuntu-medium', sans-serif;;
    font-size: 1.125rem;
  }

  .card-title:hover {
    color:  rgb(201, 128, 250);
  }

  .material-icons:hover{
    color:  rgb(201, 128, 250);
  }
  .card-content p {
    color: gray;
    font-size: 0.85rem;
    font-family: Tahoma, Helvetica, Arial, sans-serif;;
  }
  .card-subtitle {
    font-family: 'ubuntu-medium', sans-serif;;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;

  }
  .card-description {
    margin-bottom: 1.5rem;
    font-family: 'ubuntu-medium', sans-serif;;
    color: #76838f;
  }
  &.card-img-holder {
    position: relative;
    .card-img-absolute {
      position: absolute;
      top:0;
      right: 0;
      height: 100%;
    }
  }
}
