
  <div class="page-area fixed-size">
    <pb-card class="card-container">
      <h1>Configure Monthly Expense</h1>
      <div>
        <div class="container">
          <form [formGroup]="addIncomeForm" (ngSubmit)="addMonthlyIncomeToUser()">
            <div class="row">
              <div class="col-50">
                <label for="income">Monthly income:</label>
              </div>
              <div class="col-40">
                <input type="text" id="income" name="income" formControlName="monthlyIncome">
              </div>
              <div class="col-10"></div>
            </div>
            <div class="row">
              <div class="col-50"></div>
              <div class="col-10">
                <input type="submit" class="button" value="Save Monthly Income" />
              </div>
              <div class="col-10"></div>
            </div>
          </form>
          <div class="row">
            <div class="span-column">
              <table *ngIf="hasData" class="table table-hover">
                <thead>
                  <tr>
                    <th>Your Monthly Income</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tablerows">
                    <td>{{item}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </pb-card>
  </div>
