@import '../../assets/scss/variables';
.card-container{
  display: inline-block;
  width: 80%;
  height:100%;
  text-align: justify;
  background-color: #fff;
  padding: 5%;
  h1{
    color: $violet;
    text-align: center;
    margin-left: -8%;
  }
}


.table{
  width: 100%;
  text-align: justify;
  background-color: #fff;
  padding: 2%;
  color: rgb(82, 81, 81);
  border-collapse: collapse;
  overflow-y:auto;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $violet; /*rgb(186, 186, 248);*/
  color: white;
}
tr:hover {background-color: #ddd;}
tr:nth-child(even){background-color: #f2f2f2;}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.button{
  margin: 1%;
}
.btn-group button {
  background-color: $violet; /* rgb(186, 186, 248);; /* Green background */
  border: 1px ; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(186, 186, 248);/* rgb(201, 128, 250); /* rgb(159, 141, 192); rgb(186, 186, 248)*/
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: $violet;
}

input[type=submit] {
  background-color: $violet;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgb(186, 186, 248);
}

.container {
  border-radius: 5px;
  text-align: justify;
  padding-left:20%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.span-column{
  padding-top: 20px;
  grid-column: 1 / span 2;
}
