<!-- This is an A11y Change : added role for element-->
<main
  role="main"
  id="main"
  class="container center"
  itemscope
  itemtype="https://schema.org/SoftwareApplication"
>
  <div class="page-area fixed-size">
    <pb-card class="card-container">
      <h1>About</h1>
      <div class="card-content">
        <p>
          Bring together all of your accounts, bills and income, so you can
          conveniently manage your finances from one dashboard. See all of your
          bills and money at a glance and Create budgets easily with tips
          tailored to you
        </p>
      </div>
    </pb-card>
  </div>
</main>
