@import '../../assets/scss/variables';
.card-container{
  display: inline-block;
  width: 80%;
  height:100%;
  text-align: justify;
  background-color: #fff;
  padding: 5%;
}

.card-content{
  padding: 5%;
}
.card-content p{
color: $violet;
text-align: center;
}
