
<pb-breadcrumb></pb-breadcrumb>

<!-- This is an A11y Change : added role for element-->
<main
  role="main"
  id="main"
  class="container center"
  itemscope
  itemtype="https://schema.org/SoftwareApplication"
>
  <div class="page-area">
    <div class="button-container">
      <div class="btn-group">
      <button class="button"  (click)="goToPage('/config')">Configure Budget</button>
      <button class="button" (click)="goToPage('/add')">Add Budget</button>
      <button class="button" (click)="goToPage('/income')">Config Income</button>
    </div>
    </div>
  </div>
  <!-- This is router outlet for child components-->
  <router-outlet></router-outlet>
</main>

